@import "@/lib/variables";

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: auto 1fr;
}

.profile-info-section {
    display: grid;
    justify-content: center;

    padding-top: 100px;
    width: 100vw;
    gap: 10px;
}

.games-section {
    background-color: $background-secondary;

    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;

    gap: 20px;

    padding-top: 20px;
    margin-top: 30px;
    width: 100vw;
}

.no-games-text {
    align-self: start;
    text-align: center;
    font-size: 2rem;
}
