@import "@/lib/variables";
@import "@/lib/mixins";

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: auto auto 1fr;
}

.profile-info-section {
    display: grid;
    justify-content: center;

    padding-top: 100px;
    width: 100vw;
    gap: 10px;
}

.games-section {
    background-color: $background-2;

    display: grid;
    justify-items: center;

    width: 100vw;
    gap: 20px;

    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.ratings-section {
    display: flex;
    background-color: $background-3;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;

    .ratings-container {
        width: container($xxxl);

        margin-top: 30px;
        display: flex;

        justify-content: center;
        align-items: center;

        flex-direction: row;
        flex-wrap: wrap;
    }
}

.no-games-text {
    align-self: start;
    text-align: center;
    font-size: 2rem;
}
