@import "tailwindcss";

@layer utilities {
    /* prettier-ignore */
    .toggle-btn {
        @apply 
            [&>span::after]:translate-y-0
            [&>span::after]:rotate-45
            [&>span::before]:translate-y-0
            [&>span::before]:-rotate-45
            [&>span]:bg-transparent
            [&>span]:rotate-[360deg];
    }

    *::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    *::-webkit-scrollbar-track {
        background: #171717;
    }

    *::-webkit-scrollbar-thumb {
        background: #959596;
        border-radius: 100vh;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #959596;
    }

    .bg-checkerboard {
        background-image: var(--background-checkerboard);
    }
}

@theme {
    --color-text: #efedf4;
    --color-background: #0f0c14;
    --color-navbar: #08050b;
    --color-primary: #5e3b59;
    --color-secondary: #b8abce;
    --color-card: rgb(164, 100, 150, 0.07);
    --color-link: #60a5fa;
    --color-error: #f87171;

    --background-checkerboard: repeating-conic-gradient(
        #111111 0% 25%,
        transparent 0% 50%
    );

    --animate-blink: blink 1s infinite;
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    --animate-freakout: blink 0.5s infinite, wiggle 0.1s ease-in-out infinite;

    @keyframes blink {
        0%,
        50% {
            color: red;
        }
        50.01%,
        100% {
            color: white;
        }
    }

    @keyframes wiggle {
        0% {
            transform: rotate(-4deg) translateY(0px);
        }
        25% {
            transform: translateY(-2px);
        }
        50% {
            transform: rotate(4deg) translateY(0px);
        }
        75% {
            transform: translateY(2px);
        }
        100% {
            transform: rotate(-4deg) translateY(0px);
        }
    }
}

.apexcharts-svg {
    border-radius: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}
