@import "tailwindcss";

@layer utilities {
    /* prettier-ignore */
    .toggle-btn {
        @apply [&>span::after]:translate-y-0 [&>span::after]:rotate-45
        [&>span::before]:translate-y-0 [&>span::before]:-rotate-45
        [&>span]:bg-transparent [&>span]:rotate-[360deg];
    }

    *::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    *::-webkit-scrollbar-track {
        background: #171717;
    }

    *::-webkit-scrollbar-thumb {
        background: #959596;
        border-radius: 100vh;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #959596;
    }

    .bg-checkerboard {
        background-image: var(--background-checkerboard);
    }
}

@theme {
    --color-text: #efedf4;
    --color-background: #0f0c14;
    --color-navbar: #08050b;
    --color-primary: #a46496;
    --color-secondary: #b8abce;
    --color-card: rgb(164, 100, 150, 0.07);
    --color-link: #60a5fa;
    --color-error: #f87171;

    --background-checkerboard: repeating-conic-gradient(
        #111111 0% 25%,
        transparent 0% 50%
    );
}

.apexcharts-svg {
    border-radius: 10px;
}
