@import "@/lib/variables.module";
@import "@/lib/mixins";

.container {
    display: grid;
    justify-content: center;

    grid-template-columns: auto auto;

    gap: 30px;
    height: 100vh;
    padding-top: 89px;
    padding-bottom: 20px;
}

// Collapse the board and the options card when the screen is too small
@media (max-width: $xl) {
    .container {
        grid-template-columns: auto;
        justify-items: center;
        height: 100%;
    }
}
