$form-gap: 20px;

.profile-settings {
    display: flex;
    flex-direction: column;
    gap: $form-gap;

    // The main section shows the settings in a concise way
    .main-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $form-gap;
    }
}
