.highlightedLegalMove {
    background: radial-gradient(rgba(0, 0, 0, 0.25) 20%, rgba(0, 0, 0, 0) 23%)
        no-repeat;
    background-size: 100% 100%;
    background-position: center;

    z-index: 2;

    transition: all 0.1s ease-out;
    &:hover {
        border: solid rgba(255, 255, 255, 0.5) 5px;
    }

    animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
    from {
        background-size: 10% 10%;
        opacity: 0;
    }
    to {
        background-size: 100% 100%;
        opacity: 1;
    }
}
