.chessboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: auto;
    height: auto;

    border-radius: 10px;

    background: url("/assets/board.svg") 100% / 100% no-repeat;
    border: lightblue 2px solid;
    min-width: 300px;
    min-height: 300px;

    position: relative;
}

.piece {
    height: 10%;
    width: 10%;

    position: absolute;

    top: 0;
    left: 0;
}
