@import "@/lib/variables.module";

.input-container {
    display: flex;
    align-items: center;

    position: relative;

    label {
        width: 30%;
        margin-bottom: 0;
    }

    .input {
        width: 50%;
    }

    @media (max-width: $sm) {
        flex-direction: column;
        align-items: start;

        label,
        .input {
            width: 100%;
        }
    }
}
