@import "@/lib/mixins";

.profile {
    @include largeContainer;
}

.info {
    display: flex;
    gap: 30px;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.profile-picture {
    border: white 5px solid;

    border-radius: 10%;
}

.about {
    resize: none;
    height: 140px;
}

@media (min-width: 550px) {
    .info {
        flex-direction: row;
    }
}
