@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import "../lib/variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    line-height: 1.5;
    font-size: 16px;

    background-color: $background !important;
    min-width: 250px;

    display: flex;
    flex-direction: column;

    //padding-top: 69px !important;
}

body,
html {
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    background: rgb(40, 40, 40);
    background: linear-gradient(
        135deg,
        rgb(25, 25, 25) 0%,
        rgb(20, 20, 20) 50%,
        rgb(20, 20, 20) 100%
    );
    color: white;

    border-radius: 5px !important;
    padding: 15px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    transition: box-shadow 0.3s;
    &:hover {
        opacity: 1;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
}

hr {
    margin: 15px;
}

.input-group-text {
    gap: 15px;
}

.limit-text {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

svg > g > g.google-visualization-tooltip {
    pointer-events: none;
}

.text-invalid {
    color: #ea868f;
}

option {
    font-family: "Secular One", sans-serif;
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: $text;
}

.reset {
    all: unset;
}
