@import "@/lib/mixins";
@import "@/lib/variables.module";

.games-table {
    width: container($xl);

    table {
        max-width: 850px;
    }

    table,
    tbody,
    tr,
    th,
    td {
        background-color: rgba(0, 0, 0, 0);
    }
}

.empty-td {
    background-color: #27272718;
    height: 36px;

    border-radius: 20px;

    margin: 32px 0;
}
