@import "@/lib/mixins";

.games-table {
    @include largeContainer;

    table {
        max-width: 850px;
    }

    table,
    tbody,
    tr,
    th,
    td {
        background-color: rgba(0, 0, 0, 0);
    }
}

.empty-td {
    background-color: #272727;
    width: 90%;
    height: 30px;
    border-radius: 25px;
}
