@import "@/lib/variables";
@import "@/lib/mixins";

.rating-card {
    width: container($sm);

    margin: 15px;
    border: 0;
}

.header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    img {
        overflow: hidden;
    }
}

.info {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    gap: 20px;

    div {
        display: flex;
        justify-content: space-between;
    }
}

.chart {
    border-radius: 10px;
}
