.game {
    td {
        position: relative;
    }
}

.results-column {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    svg {
        font-size: 40px;
    }
}

.users-column {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        z-index: 10;
        width: fit-content;
        max-width: 150px;
        text-decoration: none;
        color: unset;
    }
}

.date-column {
    display: flex;
    align-items: center;
    height: 70px;
}

.game-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
