.rating-card {
    max-width: 470px;
    border: 0;
}

.header {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
        display: flex;
        justify-content: space-between;
    }
}

.chart {
    border-radius: 10px;
}
