.games-table {
    display: flex;
    justify-content: center;

    table {
        max-width: 850px;
    }

    table tr td,
    table tr th {
        background-color: rgba(0, 0, 0, 0);
    }

    td {
        border-color: #414141;
    }

    .empty-td {
        background-color: #272727;
        width: 90%;
        height: 30px;
        border-radius: 25px;
    }
}
